@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OnestFont;
  src: url(Onest-VariableFont_wght.ttf);
}

:root {
  font-family: OnestFont, sans-serif;
  color: white;
}

.body-landing{
  background: url("/src/assets/bg-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.body-input{
  background: url("/src/assets/bg-pusat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.body-jarak{
  background: url("/src/assets/bg-jarak.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.body-tempuh{
  background: url("/src/assets/bg-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}